/*.fa-6 {
	display: border-inline;
	font-size: 50px;
}*/


/*.container {
	text-align: center;
}*/
* {
	box-sizing: 
}
h1 {
    display: inline-block;
}

h2 {
    display: inline-block;
}

.fa-eye {
    display: inline-block;
}
.books-info {
	border: 2px solid black;
}
.imgwrapper {
    width: 50%;
}


